<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/extras/"
          name="erp"
          icon="fa fa-sun-o"
    >
        <locale group="quiqqer/areas" var="menu.erp.title" />
    </item>
    <item parent="/extras/erp/"
          name="areas"
          require="package/quiqqer/areas/bin/controls/Areas"
          icon="fa fa-globe"
    >
        <locale group="quiqqer/areas" var="menu.erp.areas.title" />
    </item>

</menu>
